html, body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
}

#link {
    text-decoration: none;
    color: rgb(46, 46, 46);
}

/*------ Nav -----*/

nav {
    height: 100vh;
    background-color: rgb(43, 43, 63);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .logo-container,
nav .controls-container {
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
}

nav .logo-container img {
    width: 28px;
}

nav .icon {
    color: rgb(255, 255, 255);
}

/*------ Dashboard -----*/

.dashboard {
    padding: 30px;
    width: 100%;
}

.dashboard .ticket-container {
    height: 80vh;
    overflow: scroll;
}

/*------ TicketCard -----*/

.ticket-card {
    display: flex;
    width: 100%;
}

.ticket-card #link {
    display: flex;
    width: 100%;
}

.ticket-card #link > * {
    border-color: rgb(221, 221, 221);
    margin: 2px;
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.ticket-card .ticket-color {
    width: 15px !important;
    margin: 2px !important;
    margin: 2px;
}

.ticket-card .avatar-container {
    display: flex;
    justify-content: center;
    width: 80px;
}

.ticket-card .img-container {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    overflow: hidden;
}

.ticket-card .img-container img {
    width: 100%;
}

.ticket-card .status-display {
    display: flex;
    justify-content: center;
}

 
